@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-100 text-neutral-900;
}

textarea {
  field-sizing: content;
  min-block-size: 6lh;
}

.title {
  @apply text-[2.5rem];
}

.description {
  @apply text-base;
}

.description-light {
  @apply font-light;
}

.task-title {
  @apply text-[1.25rem] font-semibold;
}

.task-button {
  @apply font-semibold;
}

.button-text {
  @apply text-sm font-medium;
}

.input-label {
  @apply text-xs font-medium text-neutral-400;
}

.modal-animation {
  transition:
    display 0.3s allow-discrete,
    overlay 0.3s allow-discrete;
  animation: modal-close 0.3s forwards;
  &[open] {
    animation: modal-open 0.3s forwards;
  }
}

@keyframes modal-open {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes modal-close {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(150%);
  }
}
